:root {
    --main-color: #19283f;
    --yellow-color: #ffc400;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --grey-color: #eff7fa;
    --blue-color: #0078ff;
}


* {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

a {
    display: inline-block;
}

nav svg,
.toggle-li svg {
    font-size: .8rem;
}

/* .navbar .container {
    min-height: 6rem !important;
} */

/* 
.navbar .container {
    transform: translateY(-50%);
} */

.navbar-nav .nav-item::before {
    width: 0%;
}

.navbar-nav .nav-link.active::before {
    width: 100%;
    margin: 0 auto;
}

.navbar-nav .nav-item::before {
    content: "";
    position: absolute;
    transition: .3s;
    height: 2px;
    background-color: var(--grey-color);
    left: 0;
    bottom: 0;

}

.navbar-nav .nav-item:hover::before {
    width: 80%;
    right: 100%;
}


.dropdown-main li {
    min-width: 11rem;
}

.dropdown-main a {
    width: 100%;
}


.dropdown-secondry,
.dropdown-main {
    visibility: hidden !important;
    opacity: 0;
    top: 180% !important;
    transition: .5s;
}

.dropdown-abdo:hover .dropdown-main,
.toggle-li:hover .dropdown-secondry {
    visibility: visible !important;
    opacity: 1;
    top: 100% !important;
}


.dropdown-secondry {
    top: 100% !important;
    right: 100%;
}

.toggle-li:hover .dropdown-secondry {
    top: 0 !important;
}




/* starrt home */
header {
    min-height: 100vh;

    background-image: linear-gradient(rgba(0, 0, 0, 0.658) 100%, rgba(0, 0, 0, 0.288) 0%), url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;

}



.home {
    min-height: calc(100vh - 12vh);
}

.home h1 {
    font-size: 4.5rem !important;
}


/* end home */
/* start services */
.common-h2 h2 {
    font-size: 3rem;
    font-weight: bold;
}

.line {
    width: 3rem;
    height: .1875rem;
    background-color: var(--blue-color);
    margin: 0 auto;
}

/* end services */
.card-icon span {
    border: 8px solid var(--blue-color);
    width: 8rem;
    height: 8rem;
    transition: .3s;
}

.card-icon svg {
    font-size: 3rem;
    color: var(--main-color);
}

.card-icon:hover span {
    background-color: var(--blue-color);
    border-color: var(--grey-color);
}

.card-icon:hover svg {
    color: var(--grey-color);
}

.rounded-8 {
    border-radius: 1.4rem;
}

.work {
    background-image: linear-gradient(#0077ff8c 100%, #0078ff 0%), url('../img/post-3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.work .card {
    background-color: transparent;
}

.work .card-icon span {
    width: 5rem;
    height: 5rem;

}

.work .card-icon:hover span {
    background-color: transparent;
}

.work .card-icon svg {
    font-size: 1.5rem;
}

.portofolio-img {
    overflow: hidden;
}

.portofolio-img img {
    transition: 1s;
}

.portofolio-img:hover img {
    scale: 1.3;
}

.portfolio-plus {
    width: 3rem;
    height: 3rem;

}

.people {
    background-image: linear-gradient(#0077ff8c 100%, #0078ff 0%), url('../img/overlay-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.carousel-indicators {
    bottom: -50%;
}

.carousel-indicators button {
    width: 1rem !important;
    height: 1rem !important;
    background-color: #fff;
    margin: .5rem !important;
    border-radius: 50%;

}

.card-highlight {
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
}

.blog-parent .card {
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.name-img img {
    width: 2rem;
}

.common-title {
    position: relative;
}

.common-title .line {
    width: 7rem;
}

textarea {
    resize: vertical;
}

form input:focus,
form textarea:focus {
    border-color: #0078ff !important;
    box-shadow: 0 0 5px 3px #0077ff5d;
    outline: none !important;
}

form input:focus-visible,
form textarea:focus-visible {
    border-color: #0078ff !important;
    outline: none !important;
}

.social .card-icon span {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--blue-color);
}

.social .card-icon svg {
    font-size: 1.5rem;
}

.contact {
    padding-block: 5rem;
}

.contact .overlay {
    background-image: linear-gradient(#106bd4ab 100%, #106bd41e 0%), url(../img/overlay-bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    z-index: 2;
}



.contact .row {
    position: relative;
    z-index: 5;
}

footer .container-fluid {
    background-color: #00418bfd !important;
}

.progress-bar,
.progress {
    height: .7rem;
}

.owl-carousel .owl-item img {
    width: 9rem !important;
    margin: 0 auto;
}

.btn-custom:focus {
    box-shadow: none !important;

}

/* .min-vw {
    min-width: 75vw !important;
}

.min-vh {
    min-height: 75vh !important;
} */

@media only screen and (max-width:767px) {
    .home h1 {
        font-size: 3rem !important;
    }
}